<h1>Welcome to CSE Motors!</h1>

<div class="header-container">
    <div class="header-content">
        <h2>DMC Delorean</h2>
        <p>3 Cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dice!</p>
        <button>Own Today</button>
    </div>
    <div class="header-image">
        <picture>
            <!-- <source srcset="/images/vehicles/delorean-tn.jpg" media="(max-width:300px)"> -->
            <!-- <source srcset="/images/vehicles/delorean.jpg" media="(min-width:301px)"> -->
            <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean">
        </picture>
    </div>
</div>
<div class="content-container">
    <div class="reviews-container">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!"</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it" (5/5)</li>
        </ul>
    </div>

    <div class="upgrades-container">
        <h2>Delorean Upgrades</h2>
        <div id="flux-capacitor">
            <div><img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor"></div>
            <a href="#">Flux Capacitor</a>
        </div>
        <div id="flame-decals">
            <div><img src="/images/upgrades/flame.jpg" alt="Flame Decals"></div>
            <a href="#">Flame Decals</a>
        </div>
        <div id="bumper-stickers">
            <div><img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers"></div>
            <a href="#">Bumper Stickers</a>
        </div>
        <div id="hub-caps">
            <div>
                <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
            </div>
            <a href="#">Hub Caps</a>
        </div>
    </div>
</div>  