<!-- Content heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- Message block -->
<!-- To remain commented out until the next unit -->
<%# messages() %>

<!-- Inventory items display -->
<%- singlePage %>
